:root {
  --xlight-color: #c2d3cc;
  --light-color: #86a89a;
  --med-color: #0d5135;
  --neutral-dark-color: #4c4646;
  --neutral-light-color: #b6b6b4;
  --neutral-xlight-color: #ededeb;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Josefin Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--neutral-xlight-color);
}

.skip-links {
  display: none;
}

img {
  width: 100%;
}

/* navigation */

header {
  padding: .5rem 0;
  margin: 0;
  background-color: var(--neutral-light-color);
  text-align: center;
  color: #000;
}

header h1 {
  margin: 0;
}

header h1 img {
  width: 25%;
  margin: 0;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav li {
  text-align: left;
}

.current {
  font-weight: bold;
}

header nav a {
  display: block;
  padding: .5em .75em;
  color: #000;
  text-decoration: none;
  font-weight: lighter;
}

header nav a:hover {
  background-color: var(--xlight-color);
  color: var(--neutral-dark-color);
}

/* hero banner */

h2 {
  font-size: 1.5rem;
  color: var(--neutral-dark-color);
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  margin-top: .5em;
  line-height: 1.5;
  color: var(--neutral-dark-color);
}

.img-flex {
  overflow: hidden;
  display: block;
  width: 100%;
}

.banner {
  margin: 0;
  margin-top: 2rem;
  padding: .3rem 1rem;
  transform: translate(8px, 0);
  position: absolute;
  max-width: 25em;
  overflow: hidden;
  justify-content: unset;
  background: rgba(255, 255, 255, .7);
}

main {
  position: relative;
  margin: 1rem;
}

h3 a {
  color: var(--med-color);
  text-decoration: none;
}

h3 a:hover {
  color: var(--neutral-light-color);
}

/* article */

article {
  margin: 1rem;
}

/* image galary */

#photo {
  display: flex;
  flex-wrap: wrap;
}

.photo img {
  display: block;
  width: 100%;
}

.photo:nth-child(2),
.photo:nth-child(5) {
  display: none;
}

/* footer */

.footer img {
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5em 0;
  background-color: var(--neutral-light-color);
  border-top: 3px solid var(--light-color);
  color: #000;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #fff;
}

.footer ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 0;
  list-style-type: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
}

.footer a:hover {
  color: var(--light-color);
  font-weight: normal;
}

.links {
  padding: 0 1rem;
}

.social {
  margin-left: auto;
  padding: 0 1rem;
  display: flex;
}

.social > li {
  margin: 0 .5em;
  width: 3em;
}

.copyright {
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 25em) {
  /* navigation */

  header nav li {
    display: inline-block;
    text-align: center;
  }

  #home-articles .articles-containers {
    grid-template-columns: repeat(2, 1fr);
  }

  #home-articles .articles-containers > *:first-child,
  #home-articles .articles-containers > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  article div {
    
  }

  /* photo galary */

  .photo:nth-child(2),
  .photo:nth-child(5) {
    display: block;
  }

  .photo {
    width: 50%;
    flex-wrap: wrap;
  }

  .photo:first-child {
    width: 100%;
  }

}

@media (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  /* banner */

  .banner {
    max-width: 25em;
  }

  .img-flex {
    max-height: 10em;
  }

  /* home articles */

  #home-articles .articles-containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  #home-articles .articles-containers > *:first-child,
  #home-articles .articles-containers > *:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
  }

  #home-articles .articles-containers > *:last-child {
    grid-column: 2 / span 2;
  }

  #article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: .4rem;
  }

  #article .meta .category {
    margin-top: .4rem;
  }

  .photo:first-child,
  .photo:nth-child(5) {
    display: none;
  }

  .photo {
    width: 33.3333%;
  }

  .photo:first-child {
    width: 100%;
  }

}

@media (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  /* navigation */

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  header h1 img {
    width: 50%;
    margin: 0;
  }

  header nav {
    float: right;
  }

  header h1 {
    display: inline-block;
    margin: 0;
  }

  .photo {
    width: 33.3333%;
  }

  .photo:first-child {
    width: 66.6666%;
  }

}

@media (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
